* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* FORM */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #4f46e5;
}

/* ADD BUTTON */
form button {
    padding: 12px 18px;
    background-color: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #aba7d6;
    color: #333;
}

/* TODO LIST */
#todoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background: #f9fafb;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#todoList li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

#todoList span {
    font-size: 15px;
    color: #333;
}

/* DELETE BUTTON */
#todoList button {
    background-color: #ef4444;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

#todoList button:hover {
    background-color: #f8d5d5;
    color: #333;
}

/* COMPLETED TASK */
.completed span {
    text-decoration: line-through;
    color: #9ca3af;
}
.delete:hover{
    color: darkred;
  }